
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 10px 100px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

ul, .block1-subtext, .footer {
    font-size: 18px;
    color: #E5E7EB;
}

.block1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 100px;
    background-color: #1F2937;
}

.block1-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.block1-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 40px;
}

.block1-image {
    width: 420px;
    height: 220px;
    object-fit: cover;
    flex: 0 0 auto;
}

.block2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    gap: 20px;
    margin-bottom: 40px;
}

.block2-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.block2-information {
    display: flex;
    gap: 30px;
}

.information img {
    max-width: 150px;
    border: 2px solid #3882F6;
    border-radius: 6px;
}

.information {
    max-width: 150px;
    text-align: center;
}

.block3 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px 200px;
    gap: 10px;
}

.quote {
    align-self: center;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;

}
.attribution {
    text-align: end;
    padding-right: 20px;
    font-weight: 900;
    font-size: 20px;
}

.block4 {
    background-color: #3882F6;
    border-radius: 5px;
    margin: 80px 150px;
    padding: 30px 80px;
    display: flex;
    align-items: center;
}

.block4-left {
    flex: 1;
    color:#F9FAF8;
}

.block4-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

.block4-text {
    font-size: 14px;
    font-weight: 100;
}

.block4-button {
    border: #F9FAF8 2px solid;
    border-radius: 8px;
}

.footer {
    text-align: center;
    padding: 30px;
    background-color: #1F2937;
    font-weight: 100;
}

button {
    background: #3882F6;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 8px 30px;
}